# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/storybook-static

# misc
.DS_Store
*.pem
*.log
debug-storybook.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
# *.tsbuildinfo // Раскомментируйте, если все же хотите игнорировать кэш
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# AI & Configs (Allowed now)
# .qwen/ - удалил из игнора
# messages/ - удалил из игнора
