// Container Variables  
$container-max-width: 1200px;  
$container-max-width-xs: 100%;  
$container-max-width-sm: 640px;  
$container-max-width-md: 768px;  
$container-max-width-lg: 1024px;  
$container-max-width-xl: 1280px;  
$container-padding: 16px;  
$container-narrow: 680px;  
$container-content: 1024px; 
